.layoutApp {
    background-color: black;
}

/* cards */

.characters-container {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1rem;
     max-width: 1000px;
}

.character-card {

    height: 150px;
    width: 130px;
    display: flex;

    flex-direction: column;
    border-radius: 10px;
    position: relative;
}



.character-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 0;

}

.character-card p {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    color: white;
    text-align: center;
    z-index: 2;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 80%, rgba(0, 0, 0, 0.9) 100%);

    z-index: 1;
}


/* paginations */


.boxPagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .4rem;
    list-style: none;
    padding: 1rem;
}

.boxPagination .pageCurrent {
    background-color: black;
    color: white;
    display: flex;
}
.currentPageNumber{
    background-color: blue;
    padding: 0 6px;
}
.boxPagination .pageCurrent .page-link {
    color: #ffffff;
    
}

.boxPagination .pagePrev {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    
}
.boxPagination .pagePrev .page-link {
    color: black;
    text-decoration: none;
    padding: 2px; 
} 
.boxPagination .pagePrev .page-link:hover , .boxPagination .pageNext .page-link:hover{

color: blue;
    transition: all .6s ease;
   
    
}
.boxPagination .pageNext {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px; 

}

.boxPagination .pageNext .page-link {
    text-decoration: none;
    color: black;

}